body {
  text-align: center;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  background-color: #b0bea9;
  color: #586540;
}

form {
  display: inline-block;
  padding: 25px;
  width: 50%;
  text-align: left;
  background-color: #f1f7ee;
}

fieldset {
  text-align: left;
  border: 0;
}


legend {
  font-size: 20px;
}

label {
  font-size: 14px;
  display: block;
  margin: 10px 0;
}

select{
  width: 100%;
  padding: 5px;
  border: 1px solid #586540;
  border-radius: 3px;
}

button {
  font-weight: bold;
  text-transform: uppercase;
  background-color: #b0bea9;
  padding: 10px 30px;
  border-radius: 4px;
  color: #586540;
  margin: auto;
}

input {
  width: 50%;
  padding: 5px;
  border: 1px solid #586540;
  border-radius: 3px;
}

input[type="checkbox"], input[type="radio"] {
  width: auto;
}


.checkbox-columns {
  columns: 2;
}

#main-title {
  font-size: 30px;
}

input:invalid {
  box-shadow: none;
  border-color: #f2463a;
}
input:valid {
  border-color: #586540;
}
