body {  /* Просто отцентрировал*/
  display: grid;
  justify-content: center;
}

.container {
  max-width: 1000px;
  max-height: 400px;
  display: grid;
  grid-template-columns: auto 20%;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;
  grid-template-areas:
  "a b"
  "d c";
}

.container div{
  border: 1px solid #2e2e2e;
}

.one {  /*Introduction*/
  grid-area: a;
}
.two { /*Actions*/
  grid-area: b;
}
.three { /*Related Stuff*/
  grid-area: c;
}
.four { /*Additional Information*/
  grid-area: d;
}

@media screen and (max-width: 800px){
  .container {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "a a"
    "b c"
    "d d";}
}

@media screen and (max-width: 500px){
  .container {
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "a"
    "b"
    "c"
    "d";}
}
