body {
  text-transform: uppercase;
  text-align: center;
  columns: auto 2;
  height: 100%;
}

body > * {
  margin: 5px;
}

header {
  column-span: all;
  background-color: #6C8CD5;
}

nav {
  column-span: all;
  background-color: #E40045;
}

main {
  width: 150%;
  break-inside:avoid;
  break-before: column;
  break-after: column;
  height: 300px;
  background-color: #009999;
  break-before: always;
}

article {
  height: 100px;
  margin: 0 10px;
  background-color: #BC2F36;
  border: 1px solid #000;
}

aside {  /* тут костыль очередной с высотой, если подскажешь, как надо было правильно сделать большое спасибо) */
  height: 18em;
  background-color: #E3FB71;
}

footer {
  column-span: all;
  background-color: #FF6A00;
}

aside p {
  margin: 0;
}

main p {
  margin: 0;
}

.kostil {
  margin-left: 50%;
}

@media all and (max-width: 600px) {
  body > * {
    margin: 0;
  }
  main {
    width: 100%;
    column-span: all;
  }
  aside {
    width: 100%;
    column-span: all;
    height: 100%;
  }
}
